{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ["*.jsonc", "tsconfig.json"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
